<div class="p-5 container">
   <img src="/assets/image/image.png" alt="burger" height="250" width="300">
   <h1>Eat-Da-Burger!</h1>

   <h3 class="h2">Burger Ready to Eat</h3>
   <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/unless}}
      {{/each}}
   </ul>

   <h3 class="h2">Burger's You've Eaten</h3>
   <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/if}}
      {{/each}}
   </ul>

   <div class="card-body ml-5">
      <div class="card text-center">

         <h3 class="card-title">Add A Burger You Want to Eat</h3>
         <form class="create-form">

            <div class="form-group">
               <input type="text" id="ca" name="burger_name">
            </div>
            <button class="btn btn-primary" type="submit">Add Burger</button>
         </form>
      </div>
   </div>
</div>