{{!-- <div id="carouselExampleSlidesOnly" class="carousel slide active" data-ride="carousel">
   <div class="carousel-inner">
      <div class="carousel-item active">
         <img src="https://hdwallsource.com/img/2019/4/fast-food-burgers-wallpaper-68908-71254-hd-wallpapers.jpg"
            class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
         <img src="https://www.itl.cat/pngfile/big/164-1646002_roosters-piri-piri-chicken-burger.jpg"
            class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
         <img src="https://i.pinimg.com/originals/f1/d6/ef/f1d6ef606a3fad6cef8271bd48fbe9f5.jpg" class="d-block w-100"
            alt="...">
      </div>
   </div>
</div> --}}

<img src="/assets/image/image.png" alt="burger" height="250" width="250">

<h1>Eat-Da-Burger!</h1>

<h2>Burger Ready to Eat</h2>
<ul>
   {{#each burger}}
   {{#unless devoured}}
   {{> burgers/burger-block devoured=true}}
   {{/unless}}
   {{/each}}
</ul>

<h2>Burger's You've Eaten</h2>
<ul>
   {{#each burger}}
   {{#if devoured}}
   {{> burgers/burger-block devoured=false}}
   {{/if}}
   {{/each}}
</ul>

<div class="card-body ml-5">
   <div class="card text-center">

      <h2 class="card-title">Add A Burger</h2>
      <form class="create-form">

         <div class="form-group">
            <label class="font-weight-bold" for="burger">Burger Name:</label>
            <input type="text" id="ca" name="name">
         </div>
         <button class="btn btn-primary" type="submit">Add Burger</button>
      </form>
   </div>

</div>